body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.navigation {
    background-color: lightslategray;
    text-transform: uppercase;
    width: 100%;
    
    position: sticky;
}
.navigation p a {
    color: aliceblue;
}
.navigation  p {
    display: inline-block;
    width: 24%;
    text-align: center;
    color: aliceblue;
    margin: 15px auto;
    font-size: larger;
}

.header {
    background-color: rgb(185, 196, 205);
    text-align: center;
    margin: 0;
    height: 400px;
}

.header h1 {
    font-size: 70px;
    font-weight: 900;
    padding-top: 12%;
    margin: 0;
    color: aliceblue;
    text-transform: uppercase;
} 

.header p {
    padding-top: 0;
    margin: 0;
    color: aliceblue;
    text-transform: uppercase;
}

p.introduction {
    font-size: 18px;
    color:rgb(62, 81, 99);
    margin: 10px;
}

li {
    font-size: 40px;
    text-transform: uppercase;
    color: lightslategray;
    font-weight: 500; 
}

ol {
    margin-left: 30px;
}

ol p {
    font-size: 18px;
    color: rgb(62, 81, 99);
}

.c1 {
    background-color:darkslategrey;
}

.c2 {
    background-color:darkblue;
}

.c3 {
    background-color: cornflowerblue;
}

.c4 {
    background-color:cadetblue;
}

.c5 {
    background-color: lightcoral;
}

.c6 {
    background-color: mediumpurple;
}

.c {
    width: 100px;
}

.example {
    color: lightslategray;
    font-family: 'Roboto Mono';
}

.additional {
    border: 5px solid rgb(62, 81, 99);
    padding: 5px;
    margin-right: 20px;
}

img {
    height: 250px;
    width: 250px;
}

.footer {
    background-color: rgb(185, 196, 205);
    width: 100%;
    position: relative;
}

.footer ul {
    display: inline-block;
    list-style: none;
    position: relative;
    width: 40%;
    margin: 0 50px;
    padding: 15px;
    text-align: center;
}

.footer ul li {
    font-size: 15px;
    margin: 10px;
}

.footer p {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 30px;
}

.footer ul li a {
    color: lightslategray;
}

p.copyright {
    color: rgb(62, 81, 99);
    font-size: 12px;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
